<h1>Einwilligungserklärung zur Kontaktierung für wissenschaftliche Studien am Max-Planck-Institut für Bildungsforschung</h1>
<h2>Zwecke der Datenverarbeitung</h2>
<p>Das Max-Planck-Institut für Bildungsforschung (MPIB) ist immer auf der Suche nach geeigneten Versuchspersonen für unsere Forschung. Mit dieser Einwilligungserklärung erklären Sie sich bereit, dass wir Sie für zukünftige Studien kontaktieren dürfen.</p>
<p>Dadurch verpflichten Sie sich nicht zu einer Teilnahme. Sie können eine Teilnahme immer ohne Angabe von Gründen ablehnen.</p>
<p>Diese Einwilligungserklärung ist freiwillig. Sie können an einer Studie auch ohne diese Einwilligung teilnehmen.</p>
<h2>Welche Informationen werden über Sie gespeichert?</h2>
<ul>
<li>Kontaktdaten ermöglichen es uns, Kontakt mit Ihnen aufzunehmen.
<ul>
<li>Vorname, Nachname, akademischer Titel</li>
<li>Geburtsdatum</li>
<li>Geschlecht</li>
<li>Straße, Hausnummer, Postleitzahl, Ort</li>
<li>E-Mail, Telefon</li>
<li>Erreichbarkeit (zeitlich befristete Abwesenheit)</li>
</ul></li>
<li>Merkmale ermöglichen es uns zu entscheiden, ob Sie für eine Studie in Frage kommen.
<ul>
<li>Alter</li>
<li>Geschlecht</li>
<li>Muttersprache</li>
<li>Deutschkenntnisse</li>
<li>Höchster Schulabschluss</li>
<li>Händigkeit</li>
<li>Geokoordinaten (abgeleitet aus der Adresse)</li>
<li>Bisherige Teilnahme an Studien (z.B. um Wiederholungen von Experimenten zu vermeiden oder um Sie gezielt zu Folgestudien einladen zu können)</li>
<li>Informationen darüber, ob sie für bestimmte Arten von Studien (z.B. aus gesundheitlichen Gründen) nicht in Frage kommen oder kein Interesse an diesen haben. Es werden aber keine Details zu den Gründen gespeichert.</li>
</ul></li>
<li>Weitere Daten
<ul>
<li>Datum der Aufnahme in die Datenbank</li>
<li>Datum des letzten Kontakts</li>
<li>Kopie dieser Einwilligung</li>
<li>Datenquelle</li>
</ul></li>
</ul>
<h2>Weitergabe von Daten</h2>
<p>Ihre Daten werden nur innerhalb des MPIB verarbeitet und nicht an externe Stellen weitergegeben.</p>
<h2>Speicherdauer</h2>
<p>Die Daten werden bis zum Widerruf Ihrer Einwilligung gespeichert.</p>
<h2>Wie werden meine Daten gespeichert und verarbeitet?</h2>
<p>Am MPIB betreiben wir eine Versuchspersonendatenbank. Nur berechtigte Mitarbeiter*innen dürfen und können Ihre Daten lesen oder bearbeiten. Wenn Sie an wissenschaftlichen Studien teilnehmen, werden die in den Studien erhobenen Daten wiederum getrennt bzw. außerhalb der Versuchspersonendatenbank gespeichert. Diese sind nur durch ein Pseudonym mit Ihrem Namen verbunden. Der Umgang mit den Studiendaten wird in einer separaten Einwilligungserklärung zur Studienteilnahme genau beschrieben.</p>
<p>Weitere Details finden Sie unter https://www.mpib-berlin.mpg.de/1495874/studiendokumente.</p>
<h2>Ihre Rechte</h2>
<ul>
<li>Sie können die Einwilligung jederzeit mit Wirkung für die Zukunft und ohne negative Konsequenzen widerrufen.</li>
<li>Sie haben ein Recht auf Auskunft darüber, welche Daten wir über Sie haben.</li>
<li>Sie haben ein Recht auf Berichtigung, Löschung oder die Einschränkung der Verarbeitung Ihrer Daten. Bitte beachten Sie, dass nach Löschung Ihrer Kontaktdaten nicht mehr zugeordnet werden kann, welche wissenschaftlichen Daten zu Ihnen gehören. Dementsprechend können wir dann auch keine Auskunft mehr über diese Daten geben.</li>
<li>Sie können sich an die Aufsichtsbehörde für Datenschutz wenden. Die zuständige Behörde für die Max-Planck-Gesellschaft ist das Bayerische Landesamt für Datenschutzaufsicht, Postfach 606, 91511 Ansbach.</li>
</ul>
<h2>Verantwortlich</h2>
<p>Verantwortliches Institut: Max-Planck-Institut für Bildungsforschung, Lentzeallee 94, 14195 Berlin</p>
<p>Verantwortlich im Rechtssinn ist die Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V. (MPG), Hofgartenstraße 8, D-80539 München, Telefon: +49 (89) 2108-0</p>
<h2>Kontaktdaten Datenschutzbeauftragte*r</h2>
<p>Datenschutzbeauftragte der MPG: Frau Heidi Schuster, Hofgartenstraße 8, D-80539 München, Telefon: +49 (89) 2108-1554, E-Mail: <a href="mailto:datenschutz@mpg.de">datenschutz@mpg.de</a></p>
<p>Ihr Ansprechpartner am MPIB: Herr Thomas Feg, Datenschutzkoordinator, Anschrift: Max-Planck-Institut für Bildungsforschung, Lentzeallee 94, 14195 Berlin, E-Mail: <a href="mailto:datenschutz@mpib-berlin.mpg.de">datenschutz@mpib-berlin.mpg.de</a></p>
<h2>Haben Sie noch Fragen?</h2>
<p>Bitte wenden Sie sich bei Fragen an unsere Teilnahmeverwaltung:</p>
<p>Max-Planck-Institut für Bildungsforschung, Lentzeallee 94, 14195 Berlin, E-Mail: <a href="mailto:studieninfo@mpib-berlin.mpg.de">studieninfo@mpib-berlin.mpg.de</a></p>
<p>Sie können sich außerdem an die jeweiligen Kontaktpersonen der Studien, an denen Sie teilnehmen, wenden.</p>
<h2>Einwilligungserklärung</h2>
<ol>
<li>Ich habe die Informationen gelesen und verstanden.</li>
<li>Ich willige ein, dass ich für Studien am MPIB kontaktiert werden darf.</li>
<li>Ich willige insbesondere auch in die Verarbeitung besonders sensibler Daten ein. Hierzu gehören z.B. Informationen, ob ich für bestimmte Studien aufgrund von vorliegenden gesundheitlichen Informationen geeignet bin.</li>
</ol>
