<!DOCTYPE html>
{% load i18n static django_bootstrap5 %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' data:" />
    <link href="{% static 'favicon.ico' %}" rel="icon">
    <title>{% block title %}{% translate 'Consents' %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% url 'colors' %}">
</head>
<body>
    <main class="{% block container_class %}container-lg{% endblock %} py-3">
        {% for message in messages %}
            <div class="alert alert-{{ message|bootstrap_message_alert_type }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </main>

    {% block extra_scripts %}{% endblock %}
</body>
</html>
