{% extends "base.html" %}
{% load i18n static %}

{% block content %}
    {% include '_consent_text.html' %}

    <form data-js="print">
        <div class="mb-3">
            <label class="form-label" for="name">Vor- und Nachname der potenziellen Proband*in</label>
            <input class="form-control" id="name" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="legal_rep">Ggf. Vor- und Nachname der gesetzlichen Vertreter*innen</label>
            <input class="form-control" id="legal_rep">
        </div>

        <div class="row">
            <div class="col-md-3 mb-3">
                <label class="form-label" for="place">Ort</label>
                <input class="form-control" id="place">
            </div>
            <div class="col-md-3 mb-3">
                <label class="form-label" for="time">Datum</label>
                <input class="form-control" id="time" value="{{ today|date }}" readonly>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label" for="signature">Unterschrift der potenziellen Proband*in bzw. der gesetzlichen Vertreter*innen</label>
                <canvas class="w-100 border" id="signature" width="800" height="400" data-js="signature"></canvas>
                <div class="text-end">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-js="signature-reset">Leeren</button>
                </div>
            </div>
        </div>

        <div class="mb-3 d-print-none">
            <button class="btn btn-primary">Drucken</button>
        </div>
    </form>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'consents.js' %}" type="module"></script>
{% endblock %}
